# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.3.1'

## Part 1 - Data Preprocessing

### Importing the dataset

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [5]:
X=dataset.drop(['RowNumber', 'CustomerId','Surname','Exited'],axis=1)

In [6]:
X.shape

(10000, 10)

In [7]:
X.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58

In [8]:
y=dataset['Exited'].values

In [9]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

### Encoding categorical data

##### Label Encoding the "Gender" column

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])

In [11]:
X.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58

##### One Hot Encoding the "Geography" column

In [12]:
X=pd.get_dummies(X,columns=['Geography'])

In [13]:
X.head(2)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1

In [14]:
X.shape

(10000, 12)

In [15]:
# # Or
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder
# ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')

# # remainder{‘drop’, ‘passthrough’} , default=’drop’
# # By default, only the specified columns in transformers are transformed and combined in the output, and the non-specified columns are dropped.
# # By specifying remainder='passthrough', all remaining columns that were not specified in transformers will be automatically passed through. This subset of columns is concatenated with the output of the transformers. 
# X = np.array(ct.fit_transform(X))

### Splitting the dataset into the Training set and Test set

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

### Feature Scaling

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
X_train.shape

(8000, 12)

***
## Part 2 - Building the ANN

### Initializing the ANN

In [19]:
ann = tf.keras.models.Sequential()

### H1: Adding the input layer and the first hidden layer

In [20]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### H2: Adding the second hidden layer

In [21]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

o/p binary classification: 1 o/p node

In [22]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [23]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [24]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 0s 689us/step - loss: 0.5985 - accuracy: 0.7089
Epoch 2/100
250/250 [==============================] - 0s 775us/step - loss: 0.4633 - accuracy: 0.8058
Epoch 3/100
250/250 [==============================] - 0s 755us/step - loss: 0.4329 - accuracy: 0.8110
Epoch 4/100
250/250 [==============================] - 0s 767us/step - loss: 0.4263 - accuracy: 0.8123
Epoch 5/100
250/250 [==============================] - 0s 817us/step - loss: 0.4232 - accuracy: 0.8134
Epoch 6/100
250/250 [==============================] - 0s 836us/step - loss: 0.4206 - accuracy: 0.8164
Epoch 7/100
250/250 [==============================] - 0s 825us/step - loss: 0.4183 - accuracy: 0.8186
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4162 - accuracy: 0.8214
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4142 - accuracy: 0.8207
Epoch 10/100
250/250 [==============================] - 0s 890us/step - loss: 0.4122 - accuracy: 0.8240
Epoch 11/100
250/250 [==============================] - 0s 773us/step - loss: 0.4101 - accuracy: 0.8240
Epoch 12/100
250/250 [==============================] - 0s 789us/step - loss: 0.4077 - accuracy: 0.8240
Epoch 13/100
250/250 [==============================] - 0s 780us/step - loss: 0.4048 - accuracy: 0.8250
Epoch 14/100
250/250 [==============================] - 0s 834us/step - loss: 0.4005 - accuracy: 0.8280
Epoch 15/100
250/250 [==============================] - 0s 983us/step - loss: 0.3947 - accuracy: 0.8317
Epoch 16/100
250/250 [==============================] - 0s 793us/step - loss: 0.3876 - accuracy: 0.8351
Epoch 17/100
250/250 [==============================] - 0s 816us/step - loss: 0.3796 - accuracy: 0.8418
Epoch 18/100
250/250 [==============================] - 0s 874us/step - loss: 0.3717 - accuracy: 0.8460
Epoch 19/100
250/250 [==============================] - 0s 885us/step - loss: 0.3642 - accuracy: 0.8518
Epoch 20/100
250/250 [==============================] - 0s 819us/step - loss: 0.3575 - accuracy: 0.8533
Epoch 21/100
250/250 [==============================] - 0s 737us/step - loss: 0.3522 - accuracy: 0.8568
Epoch 22/100
250/250 [==============================] - 0s 701us/step - loss: 0.3480 - accuracy: 0.8596
Epoch 23/100
250/250 [==============================] - 0s 767us/step - loss: 0.3446 - accuracy: 0.8606
Epoch 24/100
250/250 [==============================] - 0s 901us/step - loss: 0.3424 - accuracy: 0.8601
Epoch 25/100
250/250 [==============================] - 0s 840us/step - loss: 0.3402 - accuracy: 0.8612
Epoch 26/100
250/250 [==============================] - 0s 848us/step - loss: 0.3388 - accuracy: 0.8627
Epoch 27/100
250/250 [==============================] - 0s 826us/step - loss: 0.3374 - accuracy: 0.8619
Epoch 28/100
250/250 [==============================] - 0s 836us/step - loss: 0.3373 - accuracy: 0.8634
Epoch 29/100
250/250 [==============================] - 0s 899us/step - loss: 0.3362 - accuracy: 0.8622
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8635
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8622
Epoch 32/100
250/250 [==============================] - 0s 932us/step - loss: 0.3354 - accuracy: 0.8633
Epoch 33/100
250/250 [==============================] - 0s 914us/step - loss: 0.3351 - accuracy: 0.8637
Epoch 34/100
250/250 [==============================] - 0s 910us/step - loss: 0.3346 - accuracy: 0.8634
Epoch 35/100
250/250 [==============================] - 0s 855us/step - loss: 0.3347 - accuracy: 0.8627
Epoch 36/100
250/250 [==============================] - 0s 799us/step - loss: 0.3342 - accuracy: 0.8641
Epoch 37/100
250/250 [==============================] - 0s 865us/step - loss: 0.3342 - accuracy: 0.8641
Epoch 38/100
250/250 [==============================] - 0s 874us/step - loss: 0.3340 - accuracy: 0.8636
Epoch 39/100
250/250 [==============================] - 0s 855us/step - loss: 0.3340 - accuracy: 0.8649
Epoch 40/100
250/250 [==============================] - 0s 829us/step - loss: 0.3338 - accuracy: 0.8641
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.8648
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8654
Epoch 43/100
250/250 [==============================] - 0s 889us/step - loss: 0.3335 - accuracy: 0.8633
Epoch 44/100
250/250 [==============================] - 0s 858us/step - loss: 0.3332 - accuracy: 0.8635
Epoch 45/100
250/250 [==============================] - 0s 867us/step - loss: 0.3329 - accuracy: 0.8646
Epoch 46/100
250/250 [==============================] - 0s 853us/step - loss: 0.3330 - accuracy: 0.8634
Epoch 47/100
250/250 [==============================] - 0s 868us/step - loss: 0.3328 - accuracy: 0.8654
Epoch 48/100
250/250 [==============================] - 0s 804us/step - loss: 0.3330 - accuracy: 0.8650
Epoch 49/100
250/250 [==============================] - 0s 710us/step - loss: 0.3326 - accuracy: 0.8656
Epoch 50/100
250/250 [==============================] - 0s 846us/step - loss: 0.3327 - accuracy: 0.8630
Epoch 51/100
250/250 [==============================] - 0s 958us/step - loss: 0.3328 - accuracy: 0.8637
Epoch 52/100
250/250 [==============================] - 0s 882us/step - loss: 0.3327 - accuracy: 0.8646
Epoch 53/100
250/250 [==============================] - 0s 781us/step - loss: 0.3327 - accuracy: 0.8646
Epoch 54/100
250/250 [==============================] - 0s 696us/step - loss: 0.3326 - accuracy: 0.8644
Epoch 55/100
250/250 [==============================] - 0s 633us/step - loss: 0.3323 - accuracy: 0.8645
Epoch 56/100
250/250 [==============================] - 0s 664us/step - loss: 0.3322 - accuracy: 0.8646
Epoch 57/100
250/250 [==============================] - 0s 662us/step - loss: 0.3324 - accuracy: 0.8646
Epoch 58/100
250/250 [==============================] - 0s 725us/step - loss: 0.3324 - accuracy: 0.8634
Epoch 59/100
250/250 [==============================] - 0s 627us/step - loss: 0.3321 - accuracy: 0.8651
Epoch 60/100
250/250 [==============================] - 0s 592us/step - loss: 0.3319 - accuracy: 0.8634
Epoch 61/100
250/250 [==============================] - 0s 616us/step - loss: 0.3320 - accuracy: 0.8650
Epoch 62/100
250/250 [==============================] - 0s 931us/step - loss: 0.3324 - accuracy: 0.8649
Epoch 63/100
250/250 [==============================] - 0s 828us/step - loss: 0.3320 - accuracy: 0.8640
Epoch 64/100
250/250 [==============================] - 0s 799us/step - loss: 0.3321 - accuracy: 0.8643
Epoch 65/100
250/250 [==============================] - 0s 872us/step - loss: 0.3321 - accuracy: 0.8646
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8637
Epoch 67/100
250/250 [==============================] - 0s 916us/step - loss: 0.3316 - accuracy: 0.8630
Epoch 68/100
250/250 [==============================] - 0s 863us/step - loss: 0.3314 - accuracy: 0.8636
Epoch 69/100
250/250 [==============================] - 0s 909us/step - loss: 0.3317 - accuracy: 0.8640
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3311 - accuracy: 0.8643
Epoch 71/100
250/250 [==============================] - 0s 844us/step - loss: 0.3312 - accuracy: 0.8640
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3313 - accuracy: 0.8636
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3311 - accuracy: 0.8652
Epoch 74/100
250/250 [==============================] - 0s 855us/step - loss: 0.3317 - accuracy: 0.8631
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3312 - accuracy: 0.8643
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3312 - accuracy: 0.8640
Epoch 77/100
250/250 [==============================] - 0s 859us/step - loss: 0.3310 - accuracy: 0.8637
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8631
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.8636
Epoch 80/100

250/250 [==============================] - 0s 890us/step - loss: 0.3309 - accuracy: 0.8643
Epoch 81/100
250/250 [==============================] - 0s 881us/step - loss: 0.3306 - accuracy: 0.8636
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.8641
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3307 - accuracy: 0.8646
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3305 - accuracy: 0.8633
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3305 - accuracy: 0.8635
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3303 - accuracy: 0.8646
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8636
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3303 - accuracy: 0.8631
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3300 - accuracy: 0.8649
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3306 - accuracy: 0.8640
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3304 - accuracy: 0.8646
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8639
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8646
Epoch 94/100
250/250 [==============================] - 0s 936us/step - loss: 0.3300 - accuracy: 0.8644
Epoch 95/100
250/250 [==============================] - 0s 916us/step - loss: 0.3303 - accuracy: 0.8630
Epoch 96/100
250/250 [==============================] - 0s 990us/step - loss: 0.3303 - accuracy: 0.8652
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3298 - accuracy: 0.8650
Epoch 98/100
250/250 [==============================] - 0s 868us/step - loss: 0.3302 - accuracy: 0.8640
Epoch 99/100
250/250 [==============================] - 0s 832us/step - loss: 0.3300 - accuracy: 0.8631
Epoch 100/100
250/250 [==============================] - 0s 747us/step - loss: 0.3301 - accuracy: 0.8637

In [25]:
ann.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (32, 6)                   78
_________________________________________________________________
dense_1 (Dense)              (32, 6)                   42
_________________________________________________________________
dense_2 (Dense)              (32, 1)                   7
=================================================================
Total params: 127
Trainable params: 127
Non-trainable params: 0
_________________________________________________________________

##### I/P Layers to H1:
(12i/p features * 6 neurons) + (1 bias *6 neurons)

= 78

##### H1 to H2:
(6 neurons * 6 neurons) + (1 bias *6 neurons)

=42

##### H2 to O/P:
(6 neurons * 1o/p) + (1 bias * 1o/p)

=7

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

**Solution**

In [26]:
# dataset.head(3)

In [27]:
X.head(3)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0

In [28]:
print(ann.predict(sc.transform([[600, 1, 40, 3, 60000, 2, 1, 1, 50000, 1,0,0]])) > 0.5)

[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the last three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [29]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)

In [30]:
y_pred.shape

(2000, 1)

In [31]:
y_test.shape

(2000,)

In [32]:
np.concatenate((y_pred, y_test.reshape(2000,1)),1)

array([[0, 0],
       [0, 0],
       [0, 0],
       ...,
       [0, 0],
       [0, 0],
       [0, 0]], dtype=int64)

In [33]:
# print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

### Making the Confusion Matrix

In [34]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1533   58]
 [ 215  194]]

0.8635